version: '3.7'
services:
  t1-backend:
    image: asia.gcr.io/f6b2t1-master/t1-back:0.0.5
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
